html, body {
    height: 100%;
    width: 100%;
    font-size: 18px;
}

body {
    background-color: #2F3E46;
    font-family: "Heiti SC", serif;
    display: inline-flex;
}

.carousel-container, .card-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: min-content;
}

.carousel-item {
    padding: 0 50px 0 50px;
    width: 250px;
}

.carousel-inner .carousel-item {
    transition: transform 2s ease, -webkit-transform 2s ease;
}

.card {
    background-color: #CAD2C5;
    border: none;
    width: 500px;
    color: #2F3E46;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.card-title {
    text-align: center;
    margin: 0 0 20px 0;
}

.row {
    margin: 0;
}

.pull-left {
    padding: 5px 5px 5px 0;
}

.pull-right {
    padding: 5px 0 5px 5px;
}

.col-12 {
    padding: 5px 0;
}

.form-label {
    color: #2F3E46;
    font-size: 15px;
}

.form-control:focus + .form-label{
    color: #84A98C;
}

.btn {
    width: 100%;
    height: 60px;
    color: white;
    font-size: 15px;
}

.sign-in, .sign-up {
    background-color: #52796F;
}

.sign-in-request, .sign-up-request {
    margin: 5px 0;
    background-color: #84A98C;
}

hr {
    margin: 5px 0 5px 0;
}

.btn:active,
.btn:hover {
    border-color: #52796F;
    color: #2F3E46;
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.form-control:hover,
.form-control:active,
.form-control[type="text"]:focus,
.form-control[type="password"]:focus,
.form-control[type="email"]:focus {
    border-color: #52796F;
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

#sign-in-card.hide, #sign-up-card.hide {
    display: none;
}
