html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2F3E46;
    font-family: "Heiti SC", serif;
    display: inline-flex;
}

.carousel-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: min-content;
}

.carousel-item {
    padding: 0 50px 0 50px;
    width: 250px;
}

.carousel-inner .carousel-item {
    transition: transform 2s ease, -webkit-transform 2s ease;
}

.card-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #CAD2C5;
    border: none;
    width: 500px;
    color: #2F3E46;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.card-title {
    text-align: center;
    margin: 10px 0 20px 0;
}

.form-control {
    height: 65px !important;
}

.btn {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    color: white;
}

.submit {
    background-color: #52796F;
}

.create-account {
    background-color: #84A98C;
}

hr {
    margin: 5px 0 5px 0;
}

.btn:active,
.btn:hover {
    border-color: #52796F;
    color: #2F3E46;
    outline: 0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input:hover,
input:active,
input:focus {
    border-color: #52796F;
    color: #2F3E46;
    outline: 0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
